@font-face {
  font-family: "Lato-bold";
  font-display: swap;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "Lato-regular";
  font-display: swap;
  src: url(../fonts/Lato-Regular.ttf);
}
