.channels__btn-count,
.friends__btn-count {
  font-size: 12px;
  font-family: "Lato-bold";
  border: none;
  background: transparent;
  color: #919191;
  text-transform: uppercase;
  margin-bottom: 15px;

  &::after {
  }
}

.channels__btns,
.friends__btns {
  display: block;
  border: none;
  background: transparent;
  margin: 0 0 15px 15px;
  padding-left: 10px;
}
