.nav {
  padding: 35px 5px 20px 20px;
  background: rgba($color: #25272a, $alpha: 0.75);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100vh;
  max-width: 260px;
  width: 100%;
  color: #fff;
  transform: translateX(-260px);
  transition: 0.5s;
}

.nav.active {
  transform: translateX(0);
}

.nav__wrapperTop {
  display: flex;
  position: relative;
}
.nav__nomad-list {
  font-size: 20px;
  position: relative;
  max-width: 130px;
  width: 100%;
  font-family: "Lato-bold";
  padding-right: 20px;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 30%;
    right: 3px;
    height: 12px;
    width: 7px;
    transform: rotate(45deg);
    border-right: 1px solid #fff;
  }

  &::before {
    transform: rotate(-45deg);
    right: -20px;
    right: 7px;
    border-right: none;
    border-left: 1px solid #fff;
  }
}

.nav__settings-btn {
  border: none;
  background: transparent;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.nav__treads {
  font-size: 14px;
  align-self: flex-start;
  color: $main-grey;
  margin: 30px 0 30px;
  border: none;
  background: transparent;
  position: relative;
  padding-left: 25px;

  &::before {
    background: url(../img/nav/treads-before.svg);
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: -5px;
  }
}

.nav__content {
  height: calc(100vh - 160px);
  display: grid;
}

.nav__channel {
  position: relative;
  list-style: none;
  color: $main-grey;
  margin: 20px 0 20px 10px;
  padding-left: 10px;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 0px;
    transform: translate(-50%);
    content: "#";
  }
}

.nav__channels {
  ul {
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;
  }
}

.nav__friends {
  ul {
    max-height: 25vh;

    overflow-y: scroll;
    /* max-height: 280px; */
  }
}

.nav__friend {
  color: #666666;

  /* list-style: none;
  text-transform: capitalize;
  color: $main-grey;
  position: relative;
  padding-left: 10px;
  &::marker {
    color: red;
  }
  &::before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #666666;
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  } */

  margin: 10px 0 10px 25px;
  img {
    margin: 0 10px;
  }
  button {
    color: $main-grey;
  }
}

.nav__friend.active {
  color: #70cc16;
}
